$font-family: 'Roboto', sans-serif;
$margin-top-header: 56px;
$background-color-header: #010101;
$navbar-bg-color: transparent; // Si quieres que el fondo del navbar sea transparente
$navbar-text-color: #fff; // Color blanco para el texto del navbar
$primary-color: #fefeff;
$secondary-color: #343a40;
$black: #111111;
$light-color: #f8f9fa;
$white: #fff;
$color-testimonio: #695c52