.navbar {
    background-color: transparent !important;
    border: none;
    
    .navbar-brand,
    .nav-link {
      color: #fff !important;
      
      &:hover {
        color: #ccc !important;
      }
    }
  }